@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

/* Defaults */
html,
body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    color: white;
    background-image: url("../img/bg.png");
    background-position: center center;
    background-size: cover;
    height: 100%;
    background-color: #293648;
    scroll-behavior: smooth;
}

/* Button Outline */
button {
    border: none;
    outline: none;
    box-shadow: none;
}

/* Loader */
#loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #293648;
    -webkit-box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
    -o-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
    transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
    z-index: 9000000;
}

#loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #293648;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#loader.show {
    -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
    transition: opacity 0.4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

/* Outline */
input {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Error Messages */
#errorHandler {
    color: red;
}

/* Navbar */
.nav-wrapper {
    background-color: #141C25;
}

/* Active Sidebar */
#activeSide {
    color: white;
}

.sidenav {
    border-right: 15px solid rgba(20, 28, 37, 0.747);
    background: #293648;
    color: white;
}

.sidenav-alt-bar {
    background: #3A87F1;
}

#activeSide::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    top: 15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid rgb(20, 28, 37);
}

/* Divider */
.divider {
    border: 1px solid #141C25;
    width: 100%;
}

.border-bottom-md {
    border-bottom: 2px solid #141C25;
    width: 175px;
}

.border-bottom-sm {
    border-bottom: 2px solid #141C25;
    width: 120px;
}

/* Bolder */
.bolder {
    font-weight: bolder;
}

/* Navbar Brand */
.brand {
    font-size: 30px;
}

/* Hero Carousel */
.bg-img-1 {
    background-image: url("../img/happy-customer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-2 {
    background-image: url("../img/group-call.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-3 {
    background-image: url("../img/client-call.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 980px) {
    .carousel.carousel-slider {
        height: 20vh;
    }

    .black-overlay-text-head {
        background-color: rgba(0, 0, 0, 0.747);
        max-width: 200px;
        text-align: center;
    }

    .black-overlay-text {
        background-color: rgba(0, 0, 0, 0.774);
        max-width: 250px;
        text-align: left;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 980px) {
    .carousel.carousel-slider {
        height: 93.5vh;
    }

    .black-overlay-text-head {
        background-color: rgba(0, 0, 0, 0.747);
        max-width: 400px;
        text-align: center;
        padding: 20px;
    }

    .black-overlay-text {
        background-color: rgba(0, 0, 0, 0.774);
        max-width: 500px;
        text-align: left;
        padding-left: 20px;
        padding: 20px;
    }
}

.row.slider-center {
    position: absolute;
    top: 50%;
    width: 100%;
}

i#next {
    position: absolute;
    right: 10px;
    color: #fff;
    background: #634e4e99;
    font-size: 35px;
    font-weight: 800;
    border-radius: 50px;
    border: 1px solid;
    cursor: pointer;
}

i#prev {
    position: absolute;
    left: 20px;
    color: #fff;
    background: #634e4e99;
    font-size: 35px;
    font-weight: 800;
    border-radius: 50px;
    border: 1px solid;
    cursor: pointer;
}

/* Border Radius */
.br-10 {
    border-radius: 10px;
}

/* Button(s): TC */
.btn-tc,
.btn-tc:hover {
    background-color: #141C25;
    color: white;
    border-radius: 30px;
    min-width: 200px;
    max-width: 350px;
    min-height: 45px;
    max-height: 55px;
}

.btn-action,
.btn-action:hover,
.btn-action:focus {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
}

/* Footer */
.page-footer {
    background-color: #141C25;
    color: white;
}

#page-footer {
    background: #141C25;
    color: white;
}

/* Displays */
.d-none {
    display: none !important;
}

.d-inline {
    display: inline-block !important;
}

/* Headings */
h2 {
    font-size: 1.15rem;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2.28rem;
}

.heading-color {
    color: rgba(245, 245, 245, 0.925);
    text-decoration: underline;
    text-decoration-color: #3A87F1;
    -moz-text-decoration-color: #3A87F1;
    font-family: 'Oswald', sans-serif;
}

.heading-color-alt {
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color: #293648;
    -moz-text-decoration-color: #293648;
    font-family: 'Oswald', sans-serif;
}

/* Animation Defaults */
.animated {
    -webkit-animation-name: bounceIn;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-name: bounceIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* Bounce animation */
@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
    }

}

@keyframes bounce {

    20%,
    53%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }

}

bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom
}

/* Dark Sections */
#about {
    background-color: rgba(20, 28, 37, 0.671);
}

.bg-custom {
    background-color: rgba(20, 28, 37, 0.671);
}

/* Collapsible */
.collapsible-header {
    background-color: #293648;
    font-weight: bolder;
    border-color: #293648;
    border-bottom-color: #ffffff;
}

.collapsible-body {
    background-color: #141C25;
    font-weight: bolder;
    border-color: #293648;
}

.collapsible {
    border-color: #293648;
}

/* Medium */
.medium {
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 10px;
}

.medium:hover {
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 10px;
}

/* Rounded Image */
.rounded-img {
    border-radius: 50%;
}

.rounded-img-team {
    border-radius: 50%;
    height: 230px;
    margin-top: 30px;
    overflow: hidden;
}