@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body {
    background-color: #000;
    /*background:linear-gradient(157deg, #000 0%,#282828 74%);*/
    font-family: 'Montserrat';
    color: white;
    position: relative;
}


a {
    text-decoration: none;
    color: white !important;
}
section {
    position: relative;
}

nav {
    display: inline-block;
    position: relative;
    background-color: #181818;
    text-align: right;
}
.banner{
    display: block;
    margin-top: 1vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding:1em;
}


.banner_text{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.main_heading{
    font-size: 64px;
    background: -webkit-linear-gradient(deepskyblue, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-weight: 900px;
    transition: all .15s ease-in-out;
}

h2,h3,h4,h5,h6{
    text-align:center;
    padding:0.1em;
    margin:1em;
}
h1{
    font-size: 64px;
    font-weight: 600px;
    text-align:center;
    margin:1em;
}
.content_home{
    margin:2em;
    position:relative;
    background-color: #191919;
    border-radius: 1em;
    padding:0.5em;
}
.content_home h5{

    padding: 0em;
    content: justify;
}


footer {
    position: relative;
    bottom: 0em;
    align-self: center;
    width: 100%;
    background: #181818;
    padding: 10px;
    box-shadow: 5px 10px 8px #fff;
}

.fab {
    color: white;
    transition: all .15s ease-in-out;
}

.fab:hover {
    transform: scale(1.5);
}

.fa-linkedin:hover {
    color: #2867B2;

}

.fa-facebook-f:hover {
    color: #1778F2;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-youtube:hover {
    color: #FF0000;
}

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.fa-heart {
    color: deepskyblue;
}
.gmail{
    position: relative;
    text-align: left;
    margin:2em;
    width:3rem;
    height: auto;
}
.contact_social{
    position: relative;
    align-content: space-evenly ;
    margin-right: 0em;
    margin-left:auto;
}
#copy{
    font-size: 0.7em;
}

label{
    margin:0%;
    font-size: 15px;
    text-align: right;
    margin-left: 0%;
    margin-right: 50%;
}
table{
    padding: 50em;
    margin-left: auto;
    margin-right: auto;
}

input{
    align-content: center;
    padding:1em;
    width: 60%;
    height:10%;
    margin:1em;
    margin-top: 0px;
    color: #282828;
    border:none;
    border-radius: 10px;
}
.form_button{
    background: linear-gradient(to right, #ff4b1f 0%, #ff9068  51%);
    border-radius: 10px;
    position: relative;
    text-align: center;

    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border: 0.1px;

}
.form_button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;

}
.form_box{
    background: linear-gradient(157deg,#2867B2 0%, #00d4ff 75%);
    padding:2em;
}
